<div class="card mb-md">
  <a href="/{{url}}">
    <div style="{{bg}}" class="trial-container">
      <img class="card-img" src="images/{{icon}}" alt=" Avatar">
      <div class = "overlay" style ="background-color:{{bg}}">
      <div class="trialtext" > {{describe}} </div> 
      </div>
    </div>
    <h4 class="card-title ">{{title}}</h4>
  </a>
</div>